.paintItemButton {
    border: solid 1px;
    padding: 30px;
    border-radius: 5px;
    margin: 0px 5px;
    width: 100px;
}

.paintItemExplorerContainer {
    height: 50%;
    overflow: scroll;
    text-align: center;
    width: 100%;
}

.actionButton {
    margin: 0px 20px 0px 20px;
}

.paintItemTitle {
    text-align: center;
}

.paintItemViewerControlContainer {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 10px;
}

.paintItemViewerContainer {
    height: 50%;
    position: relative;
}

.modalContainer {
    height: 100%;
    min-width: 70%;
}

.scrollableContentClassName {
    height: 100%;
    overflow: hidden;
}

.modalStyles {
    width: 100%;
    .ms-Dialog-main {
        height: 100%;
        min-width: 70%;
    };
}
